<div class="col-10 offset-1 about">
  
  <h1>About Splurty</h1>
  
  <p>
    Splurty was built by <a target= "_blank" href="https://github.com/rosyarran">Rosy Arreola</a>. A Jack-of-all-Trades who also happens to like programming.
  </p>
  
  <br />
  
  <p>
    Asdflkjaertvlkjasntvkjn (sits on keyboard) rub face on owner give attitude, and a nice warm laptop for me to sit on. Meeeeouw paw your face to wake you up in the morning. Hiding behind the couch until lured out by a feathery toy sit on the laptop yet scratch at the door then walk away go into a room to decide you didn't want to be in there anyway cat not kitten around. 
  </p>
  
  <p>
    If you want to learn to code - start <a target="_blank" href="https://online.bootcampspot.com">here</a>
  </p>

  <br />

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'rosy.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Rosy Arreola</h2>
      <br />
      <p>
        Rosy is an amateur web developer with experience in Java, Python, HTML, CSS, and Ruby.
      </p>
    </div>
  </div>

  <br class="clear" />
  <br />
  <br />
  <br />
  <br />

</div>