<div class="col-10 offset-1 about">
  
  <h1>About Splurty</h1>
  
  <p>
    Splurty was built by <a target= "_blank" href="https://rosyarreola.netlify.com">Rosy Arreola</a>. A Jack-of-all-Trades who also happens to like programming.
  </p>
  
  <br />
  
  <p>
    Splurty is a database-powered quote generator with a mobile-first design, using the Ruby on Rails framework, HTML, and CSS. Uses Git and GitHub for version control, and launched on Heroku. It was built with the help of The Coding Bootcamp from University of Texas at Austin.
  </p>
  
  <p>
    If you want to learn to code - start <a target="_blank" href="https://techbootcamps.utexas.edu/coding/online/landing/?tc_ver=1&s=Google-Brand&pkw=ut%20austin%20coding%20bootcamp&pcrid=397231697230&pmt=e&utm_source=google&utm_medium=cpc&utm_campaign=GGL%7CUT-Austin%7CSEM%7CCODING%7C-%7CONL%7CTIER-1%7CALL%7CBRD%7CEXACT%7CCore%7CBootcamp&utm_term=ut%20austin%20coding%20bootcamp&utm_content=397231697230&s=google&k=ut%20austin%20coding%20bootcamp&gclid=EAIaIQobChMI16eEysjL5wIVh5OzCh03vAWNEAAYASAAEgKc8PD_BwE&gclsrc=aw.ds">here</a>
  </p>

  <br />

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'rosy.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Rosy Arreola</h2>
      <br />
      <p>
        Rosy is a Full Stack Developer with a background in Psychology, customer service, and management. Recognized as proactive, resourceful, and persistent problem-solver. Excellent communicator with effective client relationship building and team building skills. Graduate of Coding Bootcamp through University of Texas at Austin, and a Bachelor of Arts in Psychology from St. Mary's University.
      </p>
    </div>
  </div>

  <br class="clear" />
  <br />
  <br />
  <br />
  <br />

</div>