@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i&display=swap');

.clear {
  clear: both;
}

.circle {
    font-weight:bold;
    font-style: italic;
    position: relative;
    
    border-radius: 100%;
    background: #3A4676;
    border: 1px solid #F7F7F7;
    width: 80px;
    height: 80px;
    margin: 10px 10px;
    text-align: center;
    color: #FFF;
    font-size: 10px;
    line-height: 16px;
    cursor: pointer;
    transform:rotate(11deg);
    -ms-transform:rotate(11deg); /* IE 9 */
    -webkit-transform:rotate(11deg); /* Opera, Chrome, and Safari */
}

.slogan {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitst`ream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-style: italic;
  padding-top: 26px;
}

.links {
  padding-top: 26px;
}

.links a {
  color: #252D4C;
  font-size: 25px;
  border-bottom: 1px solid #B1BED1;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
}

.next-quote {
  color: #73939B;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}

.footer-blurb {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitst`ream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-style: italic;
  text-align: right;
  font-size: 10px;
}

.logo:hover {
  text-decoration: none;
}

.links a:hover {
  text-decoration: none;
}

.about {
    font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitst`ream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}

.modal {
    font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitst`ream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}

header {
  border-top: 9px solid #768B9E;
}

hr {
  clear: both;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 48px;
  letter-spacing: -1.5px;
  color: red;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400i;
  letter-spacing: -1.5px;
}

@media (max-width: 750px) {
  .footer-blurb {
    text-align: left;
  }
}
 h2 span {
  color: #dddddd;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
 }
 
 ::selection {
  background-color: #D8E8FF;
  color: #6D6D7F;
 }




